.main {
    /* border: 1px solid; */
    box-sizing: border-box;
    padding: 10px 20px;
    /* background: rgb(238, 235, 235); */
}

.imageUploadDiv {
    padding: 20px;
    margin-bottom: 20px;
    /* border: 1px solid; */
    /* box-shadow: -15px -15px 10px rgba(255, 255, 255, 0.3),
        10px 10px 15px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    /* display: flex;
    flex-direction: column; */
}