.p-message-wrapper {
    /* border: 2px solid red !important; */
}

.p-message-wrapper button {
    position: relative;
    /* border: 1px solid; */
    /* border-radius: 100% !important; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

}

.p-message-close-icon {
    /* border: 1px solid green; */
    display: flex;
    position: relative;

    flex-shrink: 0;
    font-size: 1.5rem;
}

.p-message-summary {
    margin-left: 10px;
}

.pi-fw {
    font-size: 25px;
}

.custom-choose-btn {
    padding: 10px;
}

.submitButton {
    padding: 10px !important;
    border-radius: 5px !important;

}